
<ion-header>

  <ion-navbar>
    <ion-title>Salvar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form [formGroup]="form">
  <ion-item>
    <ion-label stacked>Produto</ion-label>
      <ion-input type="text" value="{{produto.nome}}" formControlName="nome" ></ion-input>
  </ion-item>
  <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
    <div [hidden]="!form.controls.nome.errors.required">
      O campo é obrigatório
    </div>
  </ion-item>

  <ion-item>
    <ion-label stacked>Preço</ion-label>
    <ion-input type="number" value={{produto.preco}} formControlName="preco"></ion-input>
  </ion-item>
  <ion-item *ngIf="!form.controls.preco.valid && (form.controls.preco.dirty || form.controls.preco.touched)" color="danger">
    <div [hidden]="!form.controls.preco.errors.required">
      O campo é obrigatório
    </div>
  </ion-item>

  <ion-item>
    <ion-label stacked>Descrição</ion-label>
    <ion-input type="text" value={{produto.descricao}} formControlName="descricao"></ion-input>
  </ion-item>
  <ion-item *ngIf="!form.controls.descricao.valid && (form.controls.descricao.dirty || form.controls.descricao.touched)" color="danger">
    <div [hidden]="!form.controls.descricao.errors.required">
      O campo é obrigatório
    </div>
  </ion-item>

  <ion-item>
  <button ion-button full (click)="salvar(produto)">Salvar</button>
  </ion-item>
</form>

</ion-content>
